
.acordeon {
  display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
    border: 1px solid #fff;
    border-radius: 1rem;
    transition: background-color 0.3s;

}
.acordeon.open,
.acordeon:hover {
    cursor: pointer;
    background-color: #55569E;
    border-color: #55569E;

}

.acordeon .trigger {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: transparent;
    color: #fff;
    font-weight: 700;
    border: none;
}

.acordeon .trigger:hover {
    cursor: pointer;
   
}
.acordeon .trigger::after  {
    content: '';
    display: inline-block;
    width: 1.5rem;     
    height: 1.5rem;
    background-image: url('../icons/arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 0.5rem;
    font-size: 1.125rem;
    transition: .25s;;
    
    
}

.acordeon.open .trigger::after {
    transform: rotate(180deg);
}

.content {
    display: flex;
    flex-direction: row;
}

.content p {
    display: flex;
    align-items: center;
    margin: 2rem;
}



.acordeon .content {
overflow: hidden;
height: 0;
opacity: 0;
transition: opacity 0.3s ease-in-out;


}

.acordeon.open .content {
    display:flex;
    height: auto;
    opacity: 1;
    padding: 0rem 1rem 1rem  2rem;
}

