/*O border serve para incluir padding e border na largura e altura totais de um elemento*/
* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
.main{
    padding: 1rem;
     margin: 1rem;
    border: 1px solid #fff;
    border-radius: 8px;
    width: 80%;
   margin:auto;
   margin-top: 5%;
   
}

body {
  min-height: 100vh;
  margin: 0;
  color: #fff;
  font-family: "Open Sans", sans-serif;

  background:
    /* rosa topo esquerdo */
    radial-gradient(
      700px 700px at 10% 5%,
      rgba(247, 117, 205, 0.95) 0%,
      rgba(237, 114, 203, 0.55) 25%,
      rgba(20, 12, 19, 0.25) 45%,
      rgba(6, 6, 6, 0.0) 65%
    ),

    /* azul embaixo */
    radial-gradient(
      800px 800px at 50% 100%,
      rgba(70, 120, 255, 0.9) 0%,
      rgba(70, 120, 255, 0.55) 30%,
      rgba(70, 120, 255, 0.25) 50%,
      rgba(70, 120, 255, 0.0) 70%
    ),

  
    /* base escura */
    linear-gradient(
      180deg,
      #000000 0%,
      #05040a 100%
    );

  background-repeat: no-repeat;
  background-attachment: fixed;
}

    @media screen and (min-width: 900px) and (max-width: 3416px) {

      .main {
          padding: 1rem;
          margin: 1rem;
          border: 1px solid #fff;
          border-radius: 8px;
          width: 50%;
          margin: auto;
          margin-top: 5%;
      
        }

    body {
  min-height: 100vh;
  margin: 0;
  color: #fff;
  font-family: "Open Sans", sans-serif;

  background:
    /* rosa topo esquerdo */
     linear-gradient(
      135deg,
      rgba(247, 117, 205, 0.95) 0%,
      rgba(40, 140, 255, 0.55) 25%,     
      rgba(123, 69, 155, 0.25) 45%,
      rgba(52, 93, 228, 0) 65%
    ),

    /* azul embaixo */
    linear-gradient(
      315deg,
      rgba(247, 117, 205, 0.95) 0%,
      rgba(9, 65, 102, 0.55) 25%,     
      rgba(20, 12, 19, 0.25) 45%,
      rgba(114, 221, 221, 0) 65%
    ),

   

  
    /* base escura */
    linear-gradient(
      180deg,
      #000000 0%,
      #05040a 100%
    );

  background-repeat: no-repeat;
  background-attachment: fixed;
}


    
    
}





@font-face {
    font-family: 'NeueMachina-Regular';
    src: url('../fonts/NeueMachina-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

