.languages {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.languages li{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 1rem;
    font-weight: 700;
    font-size: 1rem;
}

.languages li::before {
    content: '';
    width: 1rem;
    height: 1rem;
    background-image: url('../icons/chekmark.svg');
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 0.5rem;
    flex-shrink: 0;
}